{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block auth_content %}
<div class="container mt-5">
    <div class="card shadow p-4 mx-auto" style="max-width:500px;">
        <h3>Email Sent</h3>

        <p>
            If an account exists with the email you entered,
            a password reset link has been generated.
        </p>

        <a href="{% url 'accounts:login' %}"
           class="btn btn-primary">
           Back to Login
        </a>
    </div>
</div>
{% endblock %}